.text-align-center {
  text-align: center;
}
<<<<<<< HEAD
=======

>>>>>>> 6a920dd9af85ef81b7c989c0639f236b463e14f6

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
